main {
    height: 100%;
}

.top-bar {
    height: clamp(50px, 10%, 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-primary);
}

    .top-bar > p {
        margin: 0 2.5rem;
        color: white;
        font-size: 2rem;
    }

.side-bar-content-container {
    display: flex;
    height: 100%;
}

.side-bar {
    width: clamp(15rem, 20%, 20rem);
    min-height: 100vh;
    background: linear-gradient(var(--theme-primary), var(--theme-secondary));
}

.body-container {
    margin: 1rem;
    flex-grow: 1;
}
