@page "/medical-records/create"

<PageTitle>Pro-Health - Medical Records - Create</PageTitle>

<Breadcrumbs Crumbs="breadcrumbs"></Breadcrumbs>

<div class="main-container">
    <div class="main-details">
        <div class="column-1">
            <div>
                <EditDetails
                    Title="General"
                    FieldValues="_generalValues"
                    CanToggleEdit="false"
                    Editing="true" />
            </div>
            <div>
                <EditDetails
                    Title="Address"
                    FieldValues="_addressValues"
                    CanToggleEdit="false"
                    Editing="true" />
            </div>
        </div>
        <div>
            <EditDetails
                Title="Contact Information"
                FieldValues="_contactInfoValues"
                CanToggleEdit="false"
                Editing="true" />
        </div>
        <div class="column-3">
            <h3>Notes</h3>
            <textarea name="notes-input" @bind="_medicalRecord.Notes" />
        </div>
    </div>
    <div class="buttons-container">
        <div>
            <Button Colour="ButtonColour.Orange">Import</Button>
        </div>
        <div class="buttons-container-save-cancel">
            <Button Clicked="Cancel">Cancel</Button>
            <Button Colour="ButtonColour.Orange" Clicked="Save">Save</Button>
        </div>
    </div>
</div>
