@page "/medical-records/search"

<PageTitle>Pro-Health - Medical Records - Search</PageTitle>

<Breadcrumbs Crumbs="breadcrumbs" />

<div class="search-options">
    <input type="text" placeholder="Enter Patient Family Name" style="grid-column: 1" @oninput="FilterByFamilyName" />
    <input type="text" placeholder="Enter Patient Forename" style="grid-column: 2" @oninput="FilterByForename" />
    <input type="date" placeholder="Date Of Birth" style="grid-column: 3" @oninput="FilterByDateOfBirth" />
    <p style="grid-column: 4">Click a family name to view the patient's details.</p>
</div>

<div class="table-container">
    <Table Headers="headers" Rows="rows" RowClicked="NavigateToSelected" />
</div>
