<div class="button @AddColourClass()" @onclick=@(() => Clicked.InvokeAsync())>
    <p>@ChildContent</p>
</div>

@code {
    [Parameter] public ButtonColour Colour { get; set; } = ButtonColour.Default;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public EventCallback Clicked { get; set; }

    string AddColourClass()
    {
        return Colour switch
        {
            ButtonColour.Orange => "orange",
            _ => "",
        };
    }
}
