h3 {
    margin: 0;
    margin-bottom: .75rem;
}

p {
    padding: .25rem 0;
    /* border-bottom: 1px #aaa solid; */
    color: #333;
}

h3, p {
    color: #333;
}

.edit-details-container {
    width: 100%;
}

.edit-details-header {
    display: flex;
    justify-content: space-between;
}

    .edit-details-header > svg {
        width: 1.5rem;
        height: 1.5rem;
    }

.edit-details-properties {
}

.edit-details-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.edit-details-values > input {
    margin: .5rem 0;
}
