table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 0.25rem 0.5rem;
    border: 1px solid #dddddd
}

th {
    background-color: var(--theme-tertiary);
    color: white;
}

    th:first-child {
        background-color: white;
        width: 0%; /* Acts as fit-content */
    }

td:nth-child(2) {
    cursor: pointer;
}

.page-control {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
}

    .page-control > div {
        color: var(--theme-tertiary);
    }

    .page-control > div > p {
        font-size: 1.25rem;
        user-select: none;
    }

.back-button {
    transform: rotate(180deg);
}

    .next-button > svg,
    .back-button > svg {
        fill: var(--theme-tertiary);
    }
