@page "/"

<PageTitle>Pro-Health - Home</PageTitle>

<div class="home-content-container">
    <h1>Your Appointments</h1>

    <p>You don't have any upcoming appointments.</p>

    <h1>New Lab Results</h1>

    <p>You don't have any new lab results.</p>

    <h1>Pending Lab Results</h1>

    <p>You don't have any pending lab results.</p>
</div>

@code {
    [Inject] IMedicalRecordsService MedicalRecordsService { get; set; } = default!;

    [Inject] IStateService StateService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var medicalRecords = await MedicalRecordsService.GetAllAsync();

        await StateService.SetMedicalRecordAsync(medicalRecords.First());

        await base.OnInitializedAsync();
    }
}
