@page "/appointments/create"
@attribute [Authorize]

<PageTitle>Pro-Health - Appointments - Create</PageTitle>

<Breadcrumbs Crumbs="_breadcrumbs"></Breadcrumbs>

<div class="main-container">
    <div class="edit-details-container">
        <EditDetails CanToggleEdit="false" Editing="true" Title="Details" FieldValues="_fieldValues"></EditDetails>
    </div>
    <div class="notes-container">
        <h3>Notes</h3>
        <textarea @bind="_appointment.Notes"></textarea>
    </div>
    <div class="buttons-container">
        <Button>Cancel</Button>
        <Button Colour="ButtonColour.Orange" Clicked="Save">Book</Button>
    </div>
</div>
