@page "/appointments/search"

<PageTitle>Pro-Health - Appointments - Search</PageTitle>

<Breadcrumbs Crumbs="breadcrumbs"></Breadcrumbs>

<div class="date-range-container">
    <input type="date" />
    <input type="date" />
</div>

<div class="table-container">
    <Table Headers="headers" Rows="rows"></Table>
</div>

@code {
    Breadcrumb[] breadcrumbs =
    { 
        new() { Name = "Appointments", Link = "/" },
        new() { Name = "Search", Link = "/appointments/search" }
    };

    string[] headers =
    {
        "Family Name",
        "Forename",
        "Date Seen",
        "GP / Nurse Seen",
    };

    string[][] rows =
    {
        new[] { "-", "-", "-", "-", }
    };
}
