@page "/appointments/search"

<PageTitle>Pro-Health - Appointments - Search</PageTitle>

<Breadcrumbs Crumbs="_breadcrumbs"></Breadcrumbs>

<div class="date-range-container">
    <input type="date" placeholder="Start Date" @oninput="@(args => Filter("start", args))" />
    <input type="date" placeholder="End Date" @oninput="@(args => Filter("end", args))" />
</div>

<div class="table-container">
    <Table Headers="_headers" Rows="_rows"></Table>
</div>
